<div class="d-flex align-items-center">
    <h1>投稿一覧</h1>
</div>

<div class="container-fluid">
<div class="row">
      <% @search_posts.each do |post| %>
        <% @user = User.find_by(id: post.user_id) %>

  <div class="card col-sm-2 col-12 mt-3 ">
    <%= link_to("/posts/#{post.id}") do %>
      <div class="card_image d-flex align-items-center">
        <%= image_tag(post.image.url) %>
      </div>
    <% end %>
    <div class="card-body">
      <h6 class="card-title"><%= link_to post.title, "/posts/#{post.id}" %></h6>
      <div class="tweet_user">
      <%= link_to("/users/#{@user.id}") do %>
       <%= image_tag @user.image %>
       <%= @user.name %>
      <% end %>
  
      </div>
    </div>
  </div>

      <% end %>
</div>
</div>




<%= paginate @posts %>