<div class="d-flex align-items-center">
  <h1>投稿</h1>
  <div class="ml-auto posts_button">
    <%= link_to '投稿一覧', posts_path, class: 'btn btn-outline-info' %>
  </div>
</div>

<% if flash[:error_messages] %>
    <div class="alert alert-danger">
        <ul>
            <% flash[:error_messages].each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>


<%= form_for @post do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>

    <div class="form-group">
        <%= f.label :title, '投稿タイトル' %>
        <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :画像 %><br />
        <%= f.file_field :image, class: "image" %>
        
    </div>

    <div class="form-group">
    <%= f.label :post, :tag_list %>
    <%= f.text_field :tag_list, value: @post.tag_list.join(','), class: "form-control" %>
    </div>

    
    
    
    <%= f.submit '投稿', class: 'btn btn-info btn-block' %>
    <small id="submit-tip" class="form-text text-muted">
        投稿する前に投稿内容を見直してください!
    </small>
<% end %>