<div class="d-flex align-items-center mt-4 mb-4">
    <div class="ml-auto posts_button">
    <%= link_to '投稿一覧', posts_path, class: "btn btn-outline-info" %>
    </div>
</div>

<div class="card">
  <div class="card-header bg-info text-white">
      <h4><%= @post.title %></h4>
  </div>
  <div class="tweet_user m-2">
  <%= link_to("/users/#{@user.id}") do %>
    <%= image_tag @user.image %>
    <%= @user.name %>
    <%= @user.nickname %>
  <% end %>
            
  </div>
  <div class="card-body">
    <%= image_tag @post.image.url %>
  </div>

  <div class="card-body">
    <td><%= @post.tag_list %></td><br>

  </div>

  <% if current_user.already_liked?(@post) %>
    <div class ="row">
      <%= link_to(post_like_path(@post), method: :delete) do %>
        <span class="fa fa-heart like-btn-unlike mr-3"></span>
      <% end %>
      <p><%= @post.likes.count %>名がいいね</p>
    </div>
  <% else %>
    <div class ="row">
      <%= link_to(post_likes_path(@post), method: :POST) do %>
        <span class="fa fa-heart like-btn mr-3 "></span>
      <% end %>
      <p><%= @post.likes.count %>名がいいね</p>
    </div>
  <% end %>

  <p>いいねしたユーザー</p>
  <% @post.liked_users.each do |user| %>
    <li><%= user.nickname %></li>
  <% end %>
  

</div>


<% if current_user.id == @user.id %>

<%= link_to "削除" , @post, class: 'btn btn-outline-info', method: :delete, data: {confirm: "投稿記事を削除しますか？", cancel: "キャンセル", commit: "削除する", title: "削除の確認"} %>

<% end %>






<h2>コメント一覧</h2>
  <%= form_for [@post, @comment] do |f| %>
    <%= f.text_field :comment %>
    <%= f.submit 'コメントする', class: "btn" %>
  <% end %>


  <% @comments.each do |comment| %>
   <hr>
    <% user = User.find_by(id: comment.user_id) %>
      <div comment> 

        <p>
          <%= comment.comment %>
        </p>
     </div>


    <% if current_user == user %>
    <%= link_to "削除" ,post_comment_path(comment.id) , class: 'btn btn-outline-info', method: :delete, data: {confirm: "コメントを削除しますか？", cancel: "キャンセル", commit: "削除する", title: "削除の確認"} %>
    <% end %>
  <% end %>
</div>
       


