<!DOCTYPE html>
<html>
  <head>
    <title>InkGrow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <header>
    <% if flash[:notice] %>
        <div class="alert alert-primary"><%= flash[:notice] %></div>
    <% end %>
     <nav>
        <% if user_signed_in? %>
        <%= image_tag current_user.image %>
        <%= current_user.name %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <% end %>
      </nav>


    </header>
    

    <div class="container">
       <%= yield %>
    </div>


  </body>
</html>
